/* Shared CSS  */

/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
span {
  color: #ff42a5;
  margin-right: 10px;
}
.span-o {
  background-image: linear-gradient(#f948b2, #8758f1);
  background-clip: text;
  color: transparent;
  margin: 0;
}
p {
  font-size: 1vw;
  color: #534c64;
}
/* Nav-Section CSS is here */
.nav-container {
  box-shadow: 0px 4px 4px rgba(235, 232, 232, 0.877);
}
.nav-content {
  max-width: 1010px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0px;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.gamer-title {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: bold;
}
.nav-left img {
  margin-top: 15px;
}
.nav-right > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-right li > a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 600;
}
.play-btn {
  background-color: #e7e6e9;
  padding: 10px 15px;
  border-radius: 10px;
}
#youtube {
  color: #f61c0d;
  margin: 0px 5px;
}
#tiktok {
  color: #000000;
}
/* Header Section CSS is Here */
.header-container {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
}
.header-content {
  max-width: 1010px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}
.header-left {
  width: 50%;
}
.play-like {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 700;
}
.goat {
  background-image: linear-gradient(#f948b2, #8758f1);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.header-left p {
  color: #534c64;
}
#play-icon {
  color: #ff42a5;
  font-size: 0.8rem;
  border: 1px solid #0b0223;
  border-radius: 50%;
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 10px;
}
#download {
  color: #ff42a5;
  font-size: 1rem;
  margin-right: 15px;
  margin-bottom: 10px;
}
#group {
  font-size: 1rem;
  margin-right: 10px;
  margin-bottom: 25px;
}
.sign-btn {
  background-color: #f948b2;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.rogue-btn {
  background-color: #4ec5f7;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.header-right {
  width: 50%;
}
.header-right img {
  width: 100%;
}
/* we-are-gamer-container CSS is Here  */
.we-are-gamer-container {
  background-color: #fff9fc;
}
.we-are-gamer-content {
  max-width: 1010px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}
.we-are-gamer-left {
  width: 50%;
}
.we-are-gamer-left img {
  width: 100%;
}
.we-are-gamer-right {
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.gamer-title {
  font-size: 3rem;
  margin-bottom: 15px;
}
.gamer-description {
  float: right;
  margin-bottom: 10px;
  font-size: 0.875rem;
  color: gray;
}
.know-more-btn {
  margin-left: 200px;
  background-color: #ff42a5;
  padding: 15px 20px;
  border-radius: 48px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  width: 95px;
}
.mini-descrption {
  margin-left: 210px;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.gamer-down-title {
  color: #534c64;
  font-size: 1.125rem;
  margin-left: 50px;
}
/* Online Games Section style in CSS */
.online-games-container {
  margin-top: 80px;
}
.online-games-content {
  max-width: 1010px;
  margin: 0 auto;
}
.online-games-title {
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
}
.online-games-desc {
  font-size: 0.875rem;
  color: gray;
  text-align: center;
}
.online-games-info {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.online-games-1 {
  position: relative;
}
.online-games-1 img {
  width: 100%;
}
.info-description {
  font-size: 0.875rem;
  color: gray;
  margin-top: 10px;
}
.online-games-1 img:hover {
  filter: brightness(50%);
}
.watch-now {
  position: absolute;
  top: 40%;
  left: 30%;
  display: none;
  text-align: center;
}
.watch-now i {
  background-color: #fff;
  padding: 10px;
  border-radius: 85%;
}
.watch-now:hover {
  display: block;
}
.online-games-1 img:hover + .watch-now {
  display: block;
}
/* No Download Section Style in css */
.no-download-container {
  width: 1010px;
  margin: 0 auto;
  padding-top: 45px;
  margin-bottom: 105px;
}
.no-download-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.no-download-left{
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.no-download-left-2{
  width: 400px;
  text-align: start;
  margin: 0 auto;
  padding-top: 150px;
  margin-left: 150px;
}
.no-download-title {
  font-size: 2rem;
  line-height: 40px;
}
.no-install {
  font-size: 2rem;
  margin-left: 50px;
}
.no-download-desc {
  margin-top: 20px;
  line-height: 20px;
  color: gray;
}
.no-download-right {
  position: relative;
}
.no-download-right img {
  max-width: 395px;
  height: 450px;
}
.shap-image {
  position: absolute;
  top: 60%;
  right: 75%;
}
.shap-image img {
  width: 250px;
  height: 250px;
}
.shap-image-2 {
  position: absolute;
  top: 60%;
  right: -25%;
}
.shap-image-2 img {
  width: 250px;
  height: 250px;
}
.careers-container{
  background-image:url(../images/Group\ 14.png);
background-color: #f948b2;
  background-repeat: no-repeat;
}
.careers-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.careers-text{
  margin-left: 150px;
}
.careers-text h1{
 font-size: 2.5rem;
 font-weight: bold;
 color: #fff;
 margin-bottom: 20px;
}.careers-text > p{
color: #fff;
}
.career-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:45px;
  margin-top: 25px;
  font-size: 1.125rem;
  font-weight:600;
}
.career-info p{
  color: #fff;
  line-height: 40px;
}
.btn-see-option{
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 48px;
  border: none;
  color: #FF42A5;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
.right-text{
  text-align: end;
}
.careers-image{
}
.careers-image img{
  width: 100%;
}
